
.board {
    min-width: 1200px;
}

.boardHeader {
    position: relative;
    width: 100%;
    height: 28px;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: inset 0px 0px 5px #d2d2d2;
}

.boardLine {
    position: relative;
    width: 100%;
    height: 24px;
    border-bottom: 1px solid #d2d2d2;
}

.boardHeader > button {
    background: none;
    border: none;
    font-family: 'nanum_square';
    color: #707070;
    border-left: 1px solid #d2d2d2;
}

.boardHeader :nth-child(1) {
    width: 5%;
}

.boardHeader :nth-child(2) {
    width: 90%;
}

.boardHeader :nth-child(3) {
    width: 5%;
}
