@font-face {
    font-family: recipekorea;
    src: url(../fonts/Recipekorea.ttf),
        url(../fonts/Recipekorea.woff) format('woff'),
        url(../fonts/Recipekorea.eot) format('embedded-opentype');
}

@font-face {
    font-family: nanum_square;
    src: url(../fonts/NanumSquareB.ttf),
        url(../fonts/NanumSquareB.woff) format('woff'),
        url(../fonts/NanumSquareB.eot) format('embedded-opentype');
}