
.sliderarea {
    display: inline;
    overflow: hidden;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
}

.sliderarea > div {
    position: relative;
    left: 0px;
    width: 100%;
    height: 100%;
}

.sliderframe {
    position: relative;
    width: 100%;
    height: 480px;
    text-align: center;
}

.banneritems {
    transition: 1s ease-in-out;
    display: flex;
}

.banneritems > img {
    flex-shrink: 0;
}

.slidercontent {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.slidercontent > img {
    border: none;
    width: 100%;
    height: 100%;
}

.contentIndexes {
    width: 100%;
    height: 32px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    left: 0px;
}

.contentIndexes div {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 50%;
    margin: 5px;
}

.normalIndex {
    background: rgba(176, 176, 176, 0.4);
    border-radius: 15px;
}

.activeIndex {
    background: rgba(234, 234, 234, 0.8);
    border-radius: 15px;
}

.loadmap_header {
    position: relative;
    width: 100%;
    height: 32px;
    line-height: 32px;
    margin-bottom: 16px;
}

.loadmap_header > h4 {
    position: relative;
    font-family: 'nanum_square';
    font-size: 18pt;
    color: #707070;
    margin-block-start: 0px;
    margin-block-end: 0px;
    height: 100%;
    display: inline;
    vertical-align: middle;
}

.loadmap_header > button {
    position: relative;
    float: right;
    height: 100%;
    border: none;
    background: none;
    font-family: 'nanum_square';
    font-size: 14pt;
    color: #b2b2b2;
}

.loadmap_content {
    position: relative;
    width: 100%;
    height: 360px;
    display: flex;
}

.loadmap_card {
    position: relative;
    height: 100%;
    width: calc(100% / 3);
    padding: 10px;
}

.loadmap_card > h4 {
    position: relative;
    font-size: 14pt;
    font-family: 'nanum_square';
    color: #393939;
    margin-block-end: 0px;
}

.loadmap_card > h3 {
    position: relative;
    font-size: 8pt;
    font-family: 'nanum_square';
    color: #b2b2b2;
}

.loadmap_preview {
    position: relative;
    width: 100%;
    height: 240px;
    border-radius: 5px;
}

.loadmap_content :first-child {
    padding-left: 0px;
}

.loadmap_content :last-child {
    padding-right: 0px;
}