
.sliderframe {
    position: relative;
    width: 100%;
    height: 600px;
    text-align: center;
}

.slidercontent {
    position: relative;
    display: inline-block;
    width: 1280px;
    height: 100%;
}

.slidercontent > img {
    border: none;
    width: 100%;
    height: 100%;
}

.contentIndexes {
    width: 100%;
    height: 32px;
    position: absolute;
    bottom: 0px;
    text-align: center;
}

.contentIndexes > div {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 50%;
    border-radius: 15px;
    margin: 5px;
}

.normalIndex {
    background: #909090;
    opacity: 0.5;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=133)";
    /* IE 7 */
    filter: alpha(opacity=133);
}

.activeIndex {
    background: #ebebeb;
    opacity: 0.8;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=224)";
    /* IE 7 */
    filter: alpha(opacity=224);
}