
.sliderframe {
    position: relative;
    width: 100%;
    height: 600px;
    text-align: center;
}

.slidercontent {
    position: relative;
    display: inline-block;
    width: 1280px;
    height: 100%;
}

.slidercontent > img {
    border: none;
    width: 100%;
    height: 100%;
}

.contentIndexes {
    width: 100%;
    height: 32px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    left: 0px;
}

.contentIndexes div {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 50%;
    margin: 5px;
}

.normalIndex {
    background: rgba(176, 176, 176, 0.4);
    border-radius: 15px;
}

.activeIndex {
    background: rgba(234, 234, 234, 0.8);
    border-radius: 15px;
}